/* .Mega {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .Mega table{
    border-collapse: collapse;
    width: 200px;
}

.Mega table tr td{
    border: solid 1px;
} */